TENANT_ID=5ddfd7e5-28e1-4e89-b86b-bfd2f2ff747d

CLIENT_ID=7abc050b-933a-45ad-8ca7-c4ccdb92380f

CLIENT_SECRET=YOUR_NEW_CLIENT_SECRET_VALUE

SHAREPOINT_SITE_URL=https://odinedu.sharepoint.com/sites/EADMIT

SHAREPOINT_SITE_ID=odinedu.sharepoint.com,f79edac3-01e6-4c4f-81df-804e517ab8c4,4e49a2bb-dd94-47b6-92c0-e48baa162fad

SHAREPOINT_DRIVE_ID=

SHAREPOINT_ROOT_FOLDER=EADMIT PORTAL/COLLEGE
SHAREPOINT_DRIVE_NAME=Documents
